# 1. Pandas

In [1]:
from pandas import Series, DataFrame
x1 = Series([1, 2, 3, 4])
x2 = Series(data = [1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])
print(x1)
print(x2)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [2]:
# 用字典创建Series
d = {'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4}
x3 = Series(d)
print(x3)

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
# 创建DataFrame
from pandas import Series, DataFrame
data = {'Chinese' : [66, 95, 93, 90, 80], 'English' : [65, 85, 92, 88, 90], 'Math' : [30, 98, 96, 77, 90]}
df1 = DataFrame(data)
print(df1)
df2 = DataFrame(data, index = ['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns = ['English', 'Math', 'Chinese'])
print(df2)

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90
            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

In [5]:
df2.to_excel('data.xlsx')

In [8]:
import pandas as pd
from pandas import Series, DataFrame
df1 = DataFrame(pd.read_excel('data.xlsx')) # 导入数据
df1.to_excel('data2.xlsx') # 导出数据
print(df1)

   Unnamed: 0  English  Math  Chinese
0    ZhangFei       65    30       66
1      GuanYu       85    98       95
2     ZhaoYun       92    96       93
3  HuangZhong       88    77       90
4     DianWei       90    90       80

In [14]:

data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])

In [15]:
# 1. 删除DataFrame中不必要的列或行
df2 = df2.drop(columns = ['Chinese']) # 删除Chinese列
print(df2)
df2 = df2.drop(index = ['ZhangFei']) # 删除张飞这一行
print(df2)

            English  Math
ZhangFei         65    30
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90
            English  Math
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90

In [18]:
# 2. 重命名列名
df2.rename(columns = {'Math' : '数学', 'English' : '英语'}, inplace = True)
print(df2)

            英语  数学
GuanYu      85  98
ZhaoYun     92  96
HuangZhong  88  77
DianWei     90  90

In [19]:
# 3. 去除重复值
df = df.drop_duplicates() # 去掉重复行

NameError: name 'df' is not defined

In [25]:
import numpy as np
# 4. 更改数据格式
df2['数学'] = df2['数学'].astype('str') # 把数学字段的值改成str类型
df2['英语'] = df2['英语'].astype(np.int64) # 把英语字段的值改成int64

In [26]:

# 删除左右两边空格
df2['数学'] = df2['数学'].map(str.strip)
# 删除左边空格
df2['数学'] = df2['数学'].map(str.lstrip)
# 删除右边空格
df2['数学'] = df2['数学'].map(str.rstrip)

In [28]:
# 删掉$符号
df2['数学'] = df2['数学'].str.strip('$')

In [31]:
# 大小写转换
# 全部大写
df2.columns = df2.columns.str.upper()
# 全部小写
df2.columns = df2.columns.str.lower()
# 首字母大写
df2.columns = df2.columns.str.title()
print(df2)

            英语  数学
GuanYu      85  98
ZhaoYun     92  96
HuangZhong  88  77
DianWei     90  90

In [50]:
from numpy import nan 
data = {'姓名' : ['张飞', '关羽', '赵云', '黄忠', '典韦'], '语文' : [66, 95, 95, 90, 80], '英语' : [65, 85, 92, 88, 90], '数学' : [nan, 98, 96, 77, 90]}
df = DataFrame(data = data, columns = ['姓名', '语文', '英语', '数学'])
print(df)
print(df.isnull()) # 查看哪个地方存在空值
print(df.isnull().any()) # 查看哪些列存在空值

   姓名  语文  英语    数学
0  张飞  66  65   NaN
1  关羽  95  85  98.0
2  赵云  95  92  96.0
3  黄忠  90  88  77.0
4  典韦  80  90  90.0
      姓名     语文     英语     数学
0  False  False  False   True
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
姓名    False
语文    False
英语    False
数学     True
dtype: bool

In [51]:
df['姓名'] = df['姓名'].apply(str.upper) # 对姓名列进行大小写转换

In [52]:
def double_df(x):
    return 2 * x
df['语文'] = df['语文'].apply(double_df)
print(df)

   姓名   语文  英语    数学
0  张飞  132  65   NaN
1  关羽  190  85  98.0
2  赵云  190  92  96.0
3  黄忠  180  88  77.0
4  典韦  160  90  90.0

In [56]:
def plus(df, n, m):
    df['new1'] = (df['语文'] + df['英语']) * m
    df['new2'] = (df['语文'] + df['数学']) * n
    return df
df = df.apply(plus, axis = 1, args = (2, 3))

In [57]:
print(df)

   姓名   语文  英语    数学  new1   new2
0  张飞  132  65   NaN   591    NaN
1  关羽  190  85  98.0   825  576.0
2  赵云  190  92  96.0   846  572.0
3  黄忠  180  88  77.0   804  514.0
4  典韦  160  90  90.0   750  500.0

In [58]:
df1 = DataFrame({'name' : ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1' : range(5)})
print(df1.describe())

          data1
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

In [3]:
from pandas import DataFrame
import pandas as pd
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
df2 = DataFrame({'name':['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2':range(5)})

In [5]:
# 1. 基于指定列进行连接
df3 = pd.merge(df1, df2, on = 'name')
print(df3)

       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1

In [7]:
# 2. 内连接
df3 = pd.merge(df1, df2, how = 'inner')
print(df3)

       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1

In [8]:
# 3. 左连接
df3 = pd.merge(df1, df2, how = 'left')
print(df3)

       name  data1  data2
0  ZhangFei      0    0.0
1    GuanYu      1    1.0
2         a      2    NaN
3         b      3    NaN
4         c      4    NaN

In [9]:
# 4. 右连接
df3 = pd.merge(df1, df2, how = 'right')
print(df3)

       name  data1  data2
0  ZhangFei    0.0      0
1    GuanYu    1.0      1
2         A    NaN      2
3         B    NaN      3
4         C    NaN      4

In [11]:
# 5. 外连接
df3 = pd.merge(df1, df2, how = 'outer')
print(df3)

       name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
5         A    NaN    2.0
6         B    NaN    3.0
7         C    NaN    4.0

In [13]:
# 使用SQL方式操作Pandas
import pandas as pd
from pandas import DataFrame
from pandasql import sqldf, load_meat, load_births
df1 = DataFrame({'name' : ['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1' : range(5)})
pysqldf = lambda sql : sqldf(sql, globals())
sql = "select * from df1 where name = 'ZhangFei'"
print(pysqldf(sql))

       name  data1
0  ZhangFei      0

In [18]:
from numpy import nan
from pandas import DataFrame

# 练习题：对下面数据进行清洗，同时新增一列总和，计算每个人三科总和
df = DataFrame({'姓名' : ['张飞', '关羽', '赵云', '黄忠', '典韦', '典韦'], '语文' : [66, 95, 95, 90, 80, 80], '英语' : [65, 85, 92, 88, 90, 90], '数学' : [nan, 98, 96, 77, 90, 90]})
# print(df)
df = df.drop_duplicates()
df['数学'].fillna(df['数学'].mean(), inplace = True)
df['总和'] = df.sum(axis = 1)
print(df)

   姓名  语文  英语     数学      总和
0  张飞  66  65  90.25  221.25
1  关羽  95  85  98.00  278.00
2  赵云  95  92  96.00  283.00
3  黄忠  90  88  77.00  255.00
4  典韦  80  90  90.00  260.00